@charset "UTF-8";
@font-face {
    font-family: 'sw';
    font-style: normal;
    font-weight: 700;
    src: url(../font/Subway-Footlong.eot);
    src: url(../font/Subway-Footlong.eot?#iefix) format('embedded-opentype'),
         url(../font/Subway-Footlong.woff) format('woff'),
         url(../font/Subway-Footlong.ttf) format('truetype');
}

/* font-face사용법
1. 서체명을 굵기별로 다르게 지정하는 방법
2. 서체명은 동일하게 하고 굵기를 다르게 지정하는 방법(일반적인 방식)
normal 400, mediun 500, bold 700, extra_bold 800 */

/* 모든요소 box-sizing: border-box; 적용 */
/* *, :before, :after { box-sizing: border-box; } */

/* 내용없이도 세로스크롤 나오게 */
/* html { overflow-y: scroll;} */


*, :before, :after { box-sizing: border-box; }


html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,code,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,footer,header,hgroup,menu,nav,section,main,audio,video {margin: 0; padding: 0; -webkit-tap-highlight-color: rgba(0,0,0,0.1);}

/*html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭으로 인식되도록함*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {display: block}

/* button태그에 손모양 커서 */
button {cursor:pointer}
/* 익스하위버전에서 이미지 선없애기 */
fieldset,img {border: 0; vertical-align: top}
/* 리스트 기호 빼기 */
ol,ul,li {list-style: none}
/* 태그 기본 기울임꼴 제거 */
address,em {font-style: normal}
/* 페이지안에서 가장 많은 링크색 지정 */
/* a태그컬러는 디자인시안상에 가장 많은 컬러로 변경해야함 */
a {text-decoration: none; color: #666;}
/* iframe으로 외부컨텐츠를 연결했을때
외부컨텐츠안쪽내용이 우리페이지에 영향을 주지못하도록 가려줌
*/
iframe {overflow: hidden; border: 0}
/* 칸의 선을 합치기, 칸의 간격없애기, 가로를 늘려줌 */
table {border-collapse: collapse; border-spacing: 0; width: 100%}
/* 굵기 빼고 헤딩태그 폰트크기를 body에 선언한 크기와 일치시킴 */
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%}
/* 폼요소의 높이가 다를때 요소끼리 세로정렬시킴 */
input,select,textarea,button {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border-radius: 0;
    /* 모바일 탭(클릭) 시 컬러 */
    -webkit-tap-highlight-color: rgba(0,0,0,0.1);
}
button, select {
    /* ios 하위버전, 상위버전에서 폼요소 스타일 초기화 */
    -webkit-appearance: none;
    appearance: none;
}
/* textarea 리사이즈기능 빼기 */
textarea {resize: none}
/* 페이지안의 모든 폰트의 줄간격을 1.5로 통일시킴
모바일 크롬, 모바일 사파리 브라우져의 텍스트 자동확대 방지 
*/
/* 벤더프리픽스(제조사접두어) 를 이용하여 적용해야 하는 브라우저별 특수 속성에 사용
 -webkit- : 크롬, 사파리
 -moz- : 파이어폭스
 -ms- : 익스플로러
 -o- : 오페라 (모바일만 사용중, pc망함) */
body {line-height: 1.5; -webkit-text-size-adjust:none}






/* ***************공통스타일*************** */

/* 폼요소는 폰트가 브라우저마다 지정되어있으므로 따로선언 */
/* 맑은고딕, 돋움 등은 ms 기본서체므로 모바일엔 없음,
노토가 없으면 모바일디바이스의 기본폰트  */
body,input,button,select,textarea,table {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #666;
}

/* 스킵네비게이션 */
#skipNavi {position: relative;}
#skipNavi a { position: absolute; top: -9999px; left: 0; line-height: 40px; background: #ddd; text-align: center; width: 100%; font-size: 14px; }
#skipNavi a:hover, 
#skipNavi a:active, 
#skipNavi a:focus { top: 0; }

/* 글자선택시 배경색, 글자색 변경 */
/* ::-moz-selection{ background-color: #ef151e; color: #ffffff;}
::selection{ background-color: #ef151e; color: #ffffff;} */

/* legend,caption,메뉴제목,섹션제목 블라인드 */
/* legend(폼 제목), caption(표 제목)을 시각적으로 보이지 않게 처리 */
legend,caption,.blind, input[type="checkbox"], input[type="radio"], input[type="file"] {position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px}

/* overlow:hidden 으로 float해제 못할경우 사용 */
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

/* 폰트컬러 공통 */
/* .orange {color: #eb6242 !important;} */

/* 버튼스타일 공통 */
.btn_detail {
    border: 1px solid #6e0000;
    display: block;
    text-align: center;
    width: 170px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: #6e0000;
    position: absolute;
}

.btn_white {
    display: inline-block;
    line-height: 46px;
    border: 2px solid #009223;
    border-radius: 50px;
    padding: 0 20px;
    font-size: 18px;
    color: #009223;
    font-weight: 700;
    box-sizing: border-box;
    text-align: center;
    margin: 0 4px;
}

.btn_point {
    display: inline-block;
    line-height: 50px;
    background: #009223;
    border-radius: 50px;
    padding: 0 20px;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    box-sizing: border-box;
    text-align: center;
    margin: 0 4px;
}
.btn_point:after {
    content: '';
    display: inline-block;
    width: 21px;
    height: 16px;
    background: url(../images/icon_reg.png) no-repeat;
    margin-left: 5px;
}

.btn_line {
    display: inline-block;
    line-height: 26px;
    height: 30px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 0 12px;
}


/* 폼요소 공통 */
/* placehold 컬러 */
/* 앞에 태그 제거시 input,textarea 동시적용 */
input::-webkit-input-placeholder {color:#bbb;}
input:-moz-placeholder {color:#bbb;}
input::-moz-placeholder {color:#bbb; opacity:1;}
/* 익스는 우선순위를 높여야 색이 나옴 */
input:-ms-input-placeholder {color:#bbb !important;}

textarea::-webkit-input-placeholder {color:#bbb;}
textarea:-moz-placeholder {color:#bbb;}
textarea::-moz-placeholder {color:#bbb; opacity:1;}
textarea:-ms-input-placeholder {color:#bbb;}

/* ie10, ie11 input x버튼 가리기 */
input[type="text"]::-ms-clear {
    display: none;
}
/* ie10, ie11 password 눈버튼 가리기 */
input[type="password"]::-ms-reveal {
    display: none;
}

/* 제목스타일 공통 */


/* input 스타일 공통 */
/* 인접형제선택자로 checkbox다음에 오는label선택 */
input[type="checkbox"] + label {
    position: relative;
    padding-left: 40px;
    line-height: 30px;
    cursor: pointer;
    color: #292929;
}
input[type="checkbox"] + label em {  color: #009223; }
input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 26px;
    height: 26px;
    border: 2px solid #ddd;
    border-radius: 30px;
}
input[type="checkbox"] + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 6px;
    width: 0px;
    height: 20px;
    background: url(../images/icon_checkbox.png) no-repeat;
    transition: all 0.2s;
}
input[type="checkbox"]:checked + label:after {
    width: 24px;
}
/* input[type="checkbox"]:checked + label:before {
    background: url(../images/icon_checkbox.png) no-repeat 50   % 50%;
    background-size: 18px;
} */

/* input text 공통 */
input,select,textarea { outline: none; }
input[type='text'] {
    height: 45px;
    background: #f8f8f8;
    width: 100%;
    border: none;
    padding: 0 15px;
    color: #292929;
    box-sizing: border-box;
}

input.input_small {
    width: 200px;
}

/* select 공통 */
.select_wrap {
    /* 테이블 안에서 좌우는 inline-block */
    display: inline-block;
    width: 196px;
    border: 2px solid #ddd;
    box-sizing: border-box;
    position: relative;
}

.select_wrap select {
    width: 100%;
    height: 41px;
    border: none;
    padding-left: 9px;
    color: #999;
    background: #fff;
}

.select_wrap:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    width: 12px;
    height: 7px;
    margin-top: -3px;
    background: url(../images/icon_select_arr.png) no-repeat;
}

/* 익스 화살표제거 */
select::-ms-expand {
    display: none;
}

/* textarea 공통 */
textarea {
    background: #f8f8f8;
    border: none;
    width: 100%;
    padding: 15px;
    color: #292929;
    box-sizing: border-box;
}

/* input file 공통 */
.file_wrap {
    border: 2px solid #ddd;
    display: inline-block;
    position: relative;
    width: 466px;
}

.file_wrap input[type="text"] {
    background: #fff;
    height: 41px;
}

.file_wrap label {
    position: absolute;
    top: 0;
    right: 0;
    width: 98px;
    height: 41px;
    cursor: pointer;
    color: #009223;
    line-height: 41px;
    text-align: center;
    font-weight: 500;
    background: #fff;
}
.file_wrap label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 16px;
    width: 2px;
    margin-top: -8px;
    background: #ddd;
}


/* 게시판 테이블 공통 */
.board_wrap {
    border-top: 1px solid #000;
}
/* 표 안의 데이터가 길 경우 칸이 자동으로 늘어나지 못하게함 */
.board_wrap table { table-layout: fixed; }
.board_wrap table th { font-weight: 500; background: #f5f5f5; }
.board_wrap table .th01,.th03 { width: 10%;}
/* .board_wrap table .th03 { width: 10%;} */
.board_wrap table th,
.board_wrap table td {
    border-bottom: 1px solid #eee;
    font-size: 16px;
    padding: 18px 0;
    text-align: center;
}
.board_wrap table tbody td { color: #555; padding: 11px 0; }
.board_wrap table tbody td a { color: #555; }
/* 표 두번째 칸 왼쪽정렬 */
.board_wrap table tbody td:nth-child(2) { text-align: left; }
/* 게시판 하단 선 스타일 */
.board_wrap table tr:last-child td{ border-bottom: 1px solid #ddd; }
.board_wrap table .link_board {
    display: inline-block;
    box-sizing: border-box;
    /*  이 되려면 가로길이가 있어야 하며
    width 로 잡을경우 글자가 짧으면 빈공간 클릭이 되므로
    max 로 지정하여 글자가 길 경우만 크기가 잡히게됨 */
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 게시판 pagination 공통 */

/* sprite pc 아이콘 공통 */
.icon { position: relative; }
.icon:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    background: url(../images/sprite_pc.png) no-repeat;
}

.board_wrap .pagination_wrap {
    text-align: center;
    padding-top: 20px;
}
.board_wrap .pagination_wrap .pagination {
    display: inline-block;
    /* 인라인블럭 하단에 간격생길경우 사용 */
    vertical-align: top;
}
.board_wrap .pagination .btn_paging {
    float: left;
    font-size: 15px;
    color: #777;
    line-height: 40px;
    height: 40px;
}
.board_wrap .pagination .first,
.board_wrap .pagination .prev,
.board_wrap .pagination .next,
.board_wrap .pagination .last {
    width: 22px;
    text-indent: -9999px;
    position: relative;
}
.board_wrap .pagination .first.icon:after {
    width: 14px;
    height: 14px;
    background-position: -397px -310px;
}
.board_wrap .pagination .prev.icon:after {
    width: 8px;
    height: 14px;
    background-position: -369px -182px;
}
.board_wrap .pagination .next.icon:after {
    width: 8px;
    height: 14px;
    background-position: -30px -431px;
}
.board_wrap .pagination .last.icon:after {
    width: 14px;
    height: 14px;
    background-position: -443px -388px;
}
.board_wrap .pagination .prev {margin-right: 8px;}
.board_wrap .pagination .next {margin-left: 8px;}

.board_wrap .pagination .num {
    width: 40px;
    border: 1px solid #eee;
    box-sizing: border-box;
    margin: 0 5px;
    background: #fff;
}
.board_wrap .pagination .num.on {
    background: #bb0841;
    border-color: #bb0841;
    color: #fff;
}


/* 파일 다운로드 공통 */
.btn_down {
    display: inline-block;
    text-indent: -9999px;
    padding: 7px 3px;
    position: relative;
}
.btn_down:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
    display: none;
}
.btn_down:hover:before { display: block; }
.btn_down:hover:after { transform: translateY(-1px); }
.btn_down:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/sprite_pc_new.png) no-repeat;
}
/* 파일 다운로드 아이콘 sprite */
.btn_down.pdf:after { background-position: -125px 0 }
.btn_down.mp4:after{background-position: 0 0;}
.btn_down.excel:after{background-position: -100px 0;}
.btn_down.word:after{background-position: -75px 0;}
.btn_down.ppt:after{background-position: -50px 0;}
.btn_down.txt:after{background-position: -26px 0;}


.easeOutExpo {
	-webkit-transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; 
	-moz-transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; 
	-o-transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; 
	transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; /* easeOutExpo */
}


/* 슬라이드 페이지네이션 공통 */
.swiper-pagination {bottom: 20px;}
.swiper-pagination span {
    width: 10px;
    height: 10px;
    background: #fff;
    margin: 0 5px;
    opacity: 1;
    transition: all 0.5s;
}
.swiper-pagination .swiper-pagination-bullet-active {
    width: 30px;
    background: #ffce32;
    border-radius: 10px;
}








/* body { height: 4000px; } */
/* body {border: 10px solid red;} */
body.on {overflow: hidden;}

/* 최소단말기 사이즈 */
#wrap { min-width: 320px; }


#header {
    /* 공통으로 모든 요소에 box-sizing: border-box; 가 걸려 있으므로 크기는 61px이 나옴 */
    width: 100%;
    height: 61px;
    border-top: 4px solid #009223;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    min-width: 320px;
    background: #fff;
}

#header .logo { text-align: center; margin-top: 15px; }
#header .logo img { width: 115px; }

#header .store_search {
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    background: url(../images/icon_hd_store.png) no-repeat 50% 50%;
    /* background-size 의 % 단위는 background 가 들어있는 요소(여기는 a)가 기준임 */
    background-size: 20px;
    text-indent: -9999px;
}

#header .btn_menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    height: 56px;
    background: url(../images/icon_sidemenu.png) no-repeat 50% 50%;
    background-size: 20px;
    border: none;
    outline: none;
    text-indent: -9999px;
}

#header .gnb_wrap {
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    width: calc(100% - 30px);
    height: 100%;
    transform: translateX(100%);
    transition: all 0.5s;
    z-index: 100;

}
#header .gnb_wrap.on { transform: translateX(0%); }

#header .gnb_wrap .top_gnb { height: 100px; background: #009223; ;}
#header .gnb_wrap .top_gnb h2 {
    background: url(../images/logo_side.png) no-repeat;
    background-size: 50px;
    height: 64px;
    padding-left: 60px;
    font-family: 'sw', sans-serif;
    font-size: 18px;
    color: #fff;
    /* 배경은 패딩으로 밀어낼수가 없으며 top_gnb 와 마진병합이므로 float 걸고 마진으로 이동 */
    float: left;
    margin: 21px 0 0 25px;
}
#header .gnb_wrap .top_gnb h2 em {color: #ffce32;}
#header .gnb_wrap .top_gnb .btn_close {
    float: right;
    width: 50px;
    height: 64px;
    background: url(../images/icon_sidemenu_close.png) no-repeat 50% 50%;
    background-size: 20px;
    border: none;
    text-indent: -9999px;
    /* outline: none; */
}

#header .gnb_wrap .bottom_gnb {
    /* 스크롤처리: 높이가 있어야 하며 컨텐츠가 가변높리이므로 %로 잡고,
    위쪽 고정영역 높이를 빼줌 */
    height: calc(100% - 100px);
    overflow: auto;
}

#header .gnb_wrap .gnb>li>a {
    display: block;
    line-height: 60px;
    color: #292929;
    font-weight: 500;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 70px;
    position: relative;
}
#header .gnb_wrap .gnb>li>a:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    width: 12px;
    height: 8px;
    margin-top: -4px;
    background: url(../images/icon_gnb_arr.png) no-repeat;
    background-size: 12px;
}
#header .gnb_wrap .gnb>li.on>a:after {
    background-position-y: -8px;
}

#header .gnb_wrap .gnb>li>a .icon {
    position: absolute;
    top: 50%;
    left: 25px;
    width: 26px;
    height: 26px;
    margin-top: -13px;
    background: url(../images/icon_gnb.png) no-repeat;
    background-size: 156px;
}
#header .gnb_wrap .gnb>li>a .icon:before {
    content: '';
    display: block;
    height: 26px;
    background: url(../images/icon_gnb.png) no-repeat;
    background-size: 156px;
    /* 배경 크기가 절반이므로 y위치도 절반으로 줄여야함 */
    background-position-y: -26px;
    width: 0%;
    transition: all 0.5s;
}
#header .gnb_wrap .gnb>li.on>a .icon:before {
    width: 100%;
}
#header .gnb_wrap .gnb>li:nth-child(2)>a .icon { background-position-x: -26px;}
#header .gnb_wrap .gnb>li:nth-child(3)>a .icon { background-position-x: -52px;}
#header .gnb_wrap .gnb>li:nth-child(4)>a .icon { background-position-x: -78px;}
#header .gnb_wrap .gnb>li:nth-child(5)>a .icon { background-position-x: -104px;}
#header .gnb_wrap .gnb>li:nth-child(6)>a .icon { background-position-x: -130px;}
#header .gnb_wrap .gnb>li:nth-child(2)>a .icon:before { background-position-x: -26px;}
#header .gnb_wrap .gnb>li:nth-child(3)>a .icon:before { background-position-x: -52px;}
#header .gnb_wrap .gnb>li:nth-child(4)>a .icon:before { background-position-x: -78px;}
#header .gnb_wrap .gnb>li:nth-child(5)>a .icon:before { background-position-x: -104px;}
#header .gnb_wrap .gnb>li:nth-child(6)>a .icon:before { background-position-x: -130px;}


#header .gnb_wrap .gnb .depth2 {
    background: #f6f6f6;
    padding: 14px 0;
    display: none;
}
#header .gnb_wrap .gnb .depth2 a {
    display: block;
    line-height: 40px;
    padding-left: 70px;
    color: #666;
    position: relative;
    z-index: 0;
}
#header .gnb_wrap .gnb .depth2 a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(100% - 100px);
    height: 100%;
    transform: translateX(-50%) scaleX(0);
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
    transition: transform 0.5s, opacity 0.4s 0.1s;
}
#header .gnb_wrap .gnb .depth2 a.on:after {
    transform: translateX(-50%) scaleX(1);
    opacity: 0;
    /* width: calc(100% - 100px); */
}



#header .gnb_bg { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); display: none;} 





#container {padding-top: 61px;}
#container .main_slider_wrap .swiper-slide img { width: 100%;}

#container .main_quick .quick {overflow: hidden;}
#container .main_quick .quick li { float: left; width: 50%;}
#container .main_quick .quick li a {
    display: block;
    width: 100%;
    line-height: 60px;
    background: #ffce32;
    color: #292929;
    font-weight: 500;
    text-align: center;
}
#container .main_quick .quick li a:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 25px;
    background: url(../images/icon_map.png) no-repeat;
    background-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
#container .main_quick .quick li:nth-child(2) a {
    background: #009223;
    color: #fff;
}
#container .main_quick .quick li:nth-child(2) a:before {
    width: 26px;
    background: url(../images/icon_franchise.png) no-repeat;
    background-size: 26px;
}

#container .main_tit {text-align: center;}
#container .main_tit h2{
    font-size: 22px;
    font-family: 'sw',sans-serif;
    color: #292929;
    background: url(../images/bul_tit.png) no-repeat;
    background-size: 40px;
    line-height: 40px;
    display: inline-block;
    padding-left: 15px;
}

#container .main_menu {
    padding-top: 50px;
    font-size: 0;
}
#container .main_menu .tab_menu {
    text-align: center;
}
#container .main_menu .tab_menu li {
    display: inline-block;
    margin: 0 10px;
}
#container .main_menu .tab_menu li a {
    display: block;
    line-height: 52px;
    font-size: 13px;
    position: relative;
}
#container .main_menu .tab_menu li a:after {
    content: '';
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #009223;
    transform: scaleX(0);
    transition: all 0.3s;

}
#container .main_menu .tab_menu li.active a {
    color: #009223;
}
#container .main_menu .tab_menu li.active a:after {
    transform: scaleX(1);
}

/* 슬라이더 안보이게 */
#container .main_menu .menu_slider_blind {height: 0; overflow: hidden;}
#container .main_menu .menu_slider_blind.active { height: auto; overflow: auto;}

#container .main_menu .menu_slider .swiper-slide {text-align: center;}
#container .main_menu .menu_slider .swiper-slide a {display: block; padding: 0 30px 70px;}
/* 이미지에 padding, border-radius 바로 적용가능 */
#container .main_menu .menu_slider .swiper-slide img{
    width: 100%;
    padding: 0 20px;
}
#container .main_menu .menu_slider .swiper-slide h3 {
    font-size: 22px;
    color: #292929;
    font-weight: 700;
}
#container .main_menu .menu_slider .swiper-slide p {
    font-size: 13px;
    color: #999;
    margin-top: 9px;
}

#container .main_menu .menu_slider .arrow {
    width: 30px;
    height: 30px;
    background: none;
    top: 110px;
    outline: none;
}
#container .main_menu .menu_slider .arrow:before{
    content: '';
    /* position: absolute;
    top: 0;
    left: 0; */
    display: block;
    width: 15px;
    height: 30px;
    margin: 0 auto;
    background: url(../images/btn_swiper_arr.png) no-repeat 0 50%;
    background-size: 30px;
}
#container .main_menu .menu_slider .swiper-button-next:before {
    background-position-x: 100%;
}
#container .main_menu .menu_slider .swiper-button-disabled {
    opacity: 0;
}

#container .main_menu .menu_slider .swiper-pagination span:not(.swiper-pagination-bullet-active) {
    background: #ddd;
}


#container .main_way {
    background: #f2f2f2;
    padding: 30px 30px 30px 0;
}
#container .way_inner {
    text-align: center;
    height: 220px;
    background: #01a5e2 url(../images/img_utilization01.png) no-repeat 0 100%;
    border-radius: 0 30px 30px 0;
    padding-top: 30px;
    position: relative;
    /* z-index 음수사용시 기준대상에 z-index 있으면 기준 안에서 가장 아래쪽에 배치됨 */
    z-index: 0;
}
#container .way_inner h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}
#container .way_inner a {
    margin-top: 60px;
}
#container .way_inner .image {
    position: absolute;
    top: 25px;
    right: -30px;
    z-index: -1;
}

#container .main_history {overflow: hidden;}
#container .main_history .store { width: 100%; }
#container .main_history .way_inner {
    margin-top: -60px;
    background: #ff8300;
    border-radius: 30px 0 0 30px;
    width: calc(100% - 30px);
    float: right;
}

#container .main_notice {padding: 50px 15px 40px; position: relative;}
#container .main_notice .main_tit {text-align: left;}
#container .main_notice .list_notice {padding-top: 15px;}
#container .main_notice .list_notice li {padding: 5px 0;}
#container .main_notice .list_notice li a {
    padding: 5px 0;
    /* webkit 계열 브라우저 전용이었으나 익스 제외한 모든 브라우저에 사용가능 */
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 제한할 줄 수, 말줄임표 나오는 줄 */
    -webkit-line-clamp: 2;
    /* 요소의 진행 방향, 세로로 지정해 줘야 말줄임표 나옴 */
    -webkit-box-orient: vertical;
}
#container .main_notice .list_notice li + li {
    border-top: 1px solid #e5e5e5;
}
#container .main_notice>a {
    position: absolute;
    top: 58px;
    right: 15px;
    width: 30px;
    height: 30px;
    background: url(../images/icon_more01.png) no-repeat 50% 50%;
    background-size: 26px;
    text-indent: -9999px;
}

#container .main_etc {
    background: #f2f2f2;
    padding: 15px 15px 10px;
}
#container .main_etc .list_etc {overflow: hidden;}
#container .main_etc .list_etc li {
    float: left;
    width: calc(50% - 2px);
    margin-bottom: 5px;
}
#container .main_etc .list_etc li:nth-child(2n) {
    width: calc(50% - 3px);
    margin-left: 5px;
}
#container .main_etc .list_etc li a {
    display: block;
    line-height: 60px;
    background: #fff;
    padding-left: 41px;
    text-align: center;
    position: relative;
}
#container .main_etc .list_etc li a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 14px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    background: url(../images/icon_quickmenu.png) no-repeat;
    background-size: 120px;
}
#container .main_etc .list_etc li:nth-child(2) a:before {background-position-x: -30px;}
#container .main_etc .list_etc li:nth-child(3) a:before {background-position-x: -60px;}
#container .main_etc .list_etc li:nth-child(4) a:before {background-position-x: -90px;}


/* 푸터 */
#footer {background: #292929; padding-bottom: 20px;}
#footer .top_footer {
    border-bottom: 1px solid #3b3b3b;
    text-align: center;
}
#footer .top_footer .list_menu li {
    display: inline-block;
    padding: 0 8px;
    position: relative;
}
#footer .top_footer .list_menu li + li:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -2px;
    width: 1px;
    height: 13px;
    margin-top: -6px;
    background: #3b3b3b;
}
#footer .top_footer .list_menu li a {
    display: block;
    line-height: 50px;
    color: #999;
    font-size: 13px;
}
#footer .top_footer .list_menu li a em { color: #ddd; }

#footer .sns {text-align: center; padding: 25px 0 20px;}
#footer .sns a {margin: 0 8px;}
#footer .sns img {
    width: 45px;
}

#footer .address {
    text-align: center;
    font-size: 13px;
    color: #666;
}
#footer .address span {
    display: inline-block;
    width: 2px;
    height: 10px;
    background: #666;
    margin: 0 5px;
}

#footer .copy {
    padding: 0 15px;
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #666;
}





/* 서브페이지 공통 */
#header.sub_header {
    border-top: none;
}
#header.sub_header .btn_back {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    background: url(../images/icon_back_02.png) no-repeat 50% 50%;
    background-size: 27px;
}
#header.sub_header .sub_tit {
    text-align: center;
    font-size: 18px;
    color: #292929;
    font-weight: 700;
    line-height: 60px;
}


/* ==================== 매장찾기 ==================== */
/* 서브 lnb 공통 */
.lnb { position: relative; }

.lnb .btn_lnb { width: 100%; height: 51px; border: none; border-bottom: 1px solid #e5e5e5; background: #fff; font-size: 18px; color: #373737; font-weight: 500; outline: none; position: relative;}
.lnb .btn_lnb:after { content: ''; position: absolute; top: 50%; right: 20px; width: 12px; height: 7px; margin-top: -3px; background: url(../images/icon_sloc_arr.png) no-repeat; background-size: 12px; }
.lnb .btn_lnb.active:after {
    transform: rotate(180deg);
}

.lnb .list_lnb { position: absolute; top: 51px; left: 0; width: 100%; background: chartreuse; display: none; z-index: 200;}

.lnb .list_lnb li { border-bottom: 1px solid #e5e5e5; }

.lnb .list_lnb a { display: block; line-height: 50px; background: #f6f6f6; text-align: center; color: #333;}

.lnb .list_lnb li.on a {color: #009223; font-weight: 500;}


/* 매장 지도 */
#map {height: 350px;}
#map .info {
    padding: 10px;
    width: 250px;
    background: #fff;
    border: 1px solid rgb(118, 129, 168);
    position: relative;
    transform: translateY(-108px);
    /* margin-top: -108px; */
}
#map .info:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 1px;
    width: calc(100% - 2px);
    height: 15px;
    background: #fff;
    z-index: 100;
}
#map .info:after {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    background: #fff;
    border: 1px solid rgb(118, 129, 168);
    transform: rotate(45deg);
}
#map .info .info_inner {position: relative; z-index: 200;}
#map .info h3 {font-size: 15px; font-weight: 500;}
#map .info p {font-size: 13px; margin-top: 10px;}
#map .info .btn_close {
    position: absolute;
    top: 0;
    right: -5px;
    width: 30px;
    height: 30px;
    background: url(../images/sprite_pc.png) no-repeat;
    background-position: -438px -35px;
    text-indent: -9999px;
    border: none;
    /* border: 1px solid red; */
}
